<header>
  <h2><a href=""><img src="assets/svg/legacy.svg" height="40"></a></h2>
  <div class="flex-1 flex-center">
    <div *ngIf="exchangeRate" class="right">{{exchangeRate}}</div>
  </div>
</header>
<div class="page">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="wrapper">
    <div class="menu">
      <img src="assets/svg/legacy.svg" height="40" class="filter-white">
      <p >Solución para el legado de tus criptomonedad. Despreocúpate del legado de tus cripto
        activos</p>
    </div>
    <div class="menu">
      <p class="title">Dirección</p>
      <ul>
        <li class="place">Lima, Perú</li>
      </ul>
    </div>
    <div class="menu">
      <p class="title">Enlaces</p>
      <ul>
        <li><a href="https://dev.monkey.pe/legacy-key-web/landing/">Nosotros</a></li>
        <li><a href="https://dev.monkey.pe/legacy-key-web/landing/">Contáctanos</a></li>
        <li><a href="assets/tyc.pdf" target="_blank">Condiciones del servicio</a></li>
      </ul>
    </div>
    <div class="menu">
      <p class="title">Noticias</p>
      <ul class="none">
        <li>Participamos en la Hackaton de Andino DAO octubre 2022</li>
      </ul>
    </div>
  </div>
</footer>
