<section>
  
  <div class="welcome center">
    Explicación del servicio
  </div>
  <div class="center">
    <p><button mat-raised-button color="primary" (click)="pagar()">Pagar servicio</button></p>
    <p><button mat-raised-button color="primary" (click)="votar()">Voto de Validador</button></p>
    <p><button mat-raised-button color="primary" (click)="cobrar()">Cobrar Herencia</button></p>
  </div>
  <div class="terms center">
    <a href="assets/tyc.pdf" target="_blank">Condiciones del servicio</a>
  </div>
</section>
