<section>
  <h2>Pago de servicio</h2>
  <div>Dirección: {{wallterAddress}}</div>
</section>
<section>
  <h4>Detalles de pago</h4>
  <form class="form">
    <div class="row">
      <label>Plan asignado:</label>
      <span>PRO+</span>
    </div>
    <div class="row">
      <label>Monto:</label>
      <span>100 USDT</span>
    </div>
    <div class="row">
      <label>Tipo de pago:</label>
      <span>Único</span>
    </div>
    <div class="footer">
      <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
      <button type="submit" mat-raised-button color="primary" (click)="onPay()">Pagar ahora</button>
    </div>
  </form>
</section>
