<section>
    <h4>Billetera</h4>
    <div>Dirección: {{address}}</div>
</section>
<section>
    <h4>Fondos actuales</h4>
    <div *ngFor="let item of balances">{{item.name}}: {{item.amount}}</div>
</section>
<section class="program">
    <h4>Programa tu legado aquí</h4>
    <p>Elige la # de wallets y el % que deseas delegar</p>

    <form #elementsForm="ngForm">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Index Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Wallet #</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    {{element.pos}}
                </td>
            </ng-container>

            <!-- Alias Column -->
            <ng-container matColumnDef="alias">
                <th mat-header-cell *matHeaderCellDef> Alias (opcional)</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <mat-form-field appearance="fill">
                        <input matInput name="alias-{{i}}" [(ngModel)]="element.alias">
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- Percent Column -->
            <ng-container matColumnDef="percent">
                <th mat-header-cell *matHeaderCellDef> %</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <mat-form-field appearance="fill" class="small">
                        <input matInput name="percent-{{i}}" [(ngModel)]="element.percent" type="number" min="0" max="100">
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- Email 1 Column -->
            <ng-container matColumnDef="email1">
                <th mat-header-cell *matHeaderCellDef> Correo 1</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <mat-form-field appearance="fill">
                        <input matInput name="email1-{{i}}" [(ngModel)]="element.email1" type="email">
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- Email 2 Column -->
            <ng-container matColumnDef="email2">
                <th mat-header-cell *matHeaderCellDef> Correo 2</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <mat-form-field appearance="fill">
                        <input matInput name="email2-{{i}}" [(ngModel)]="element.email2" type="email">
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- New wallet Column -->
            <ng-container matColumnDef="new_wallet">
                <th mat-header-cell *matHeaderCellDef> Billetera nueva</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <button mat-raised-button (click)="createWallet(element.pos)" *ngIf="!element.new_wallet_address"
                            color="primary">Crear
                    </button>
                    <mat-form-field appearance="fill" *ngIf="element.new_wallet_address">
                        <input matInput name="new-wallet-address-{{i}}" [(ngModel)]="element.new_wallet_address">
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- existing wallet Column -->
            <ng-container matColumnDef="existing_wallet">
                <th mat-header-cell *matHeaderCellDef> Billetera Existente</th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <mat-form-field appearance="fill">
                        <input matInput name="existing-wallet-address-{{i}}" [(ngModel)]="element.existing_wallet_address">
                    </mat-form-field>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
        </table>
    </form>

    <h4>Condiciones del servicio</h4>
    <div>
        Liberar fondos despues de &nbsp;
        <mat-form-field appearance="fill" class="small">
            <input matInput placeholder="" value="3" type="number" min="0">
        </mat-form-field> &nbsp;
        <mat-form-field appearance="fill">
            <mat-select class="service-time-type" value="months">
                <mat-option value="days" selected>Días</mat-option>
                <mat-option value="months">Meses</mat-option>
                <mat-option value="years">Años</mat-option>
            </mat-select>
        </mat-form-field> &nbsp;
        de inactividad
    </div>
    <div class="center">
        <button mat-raised-button color="primary" class="big" (click)="confirmOp()">Crear legado</button>
    </div>
</section>
