<section>
    <h4>Billetera</h4>
    <div>Dirección: {{address}}</div>
</section>
<section>
    <h4>Fondos actuales</h4>
    <div *ngFor="let item of balances">{{item.name}}: {{item.amount}}</div>
</section>
<section class="program">
    <h4>Programa la movilización de tus fondos</h4>
    <div class="desc">Descripción</div>
    <div class="center">
        <button mat-raised-button color="primary" (click)="onAcceptProgram()" class="ready">¿Estás listo?</button>
    </div>
    <div class="terms center">
        <a href="assets/tyc.pdf" target="_blank">Aceptar los terminos y condiciones</a>
    </div>
</section>
